{% extends 'layout.html' %}

{% block metadata %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='/css/index.css') }}">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='/css/query-forms.css') }}">
{% endblock metadata %}



{% block title %} Error {% endblock title %}

{% block content %}

<div class="row">
    <div class="col-lg-2 col-md-2 d-none d-md-block side-nav">

        <p class="nav-heading">Query Error</p>

    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main-content">
        <div>
            <h1 style="font-size: 60px; margin-top: 30px"><span style="color: #af0808;">Query  Error</span></h1>
            <br />
            <h3 style="font-size: 35px; border-bottom: 3px solid #88a582;">Please re-do your query. The website experiences some kind of problem processing your query...</h3><br /><br />
            <h6 style="font-size: 25px; color: #0e610e;">If you are experiencing some difficulties, check out the information on the <strong>About</strong> page.<br />It might  be helpful!</h6>

            <div style="margin-top: 50px; margin-bottom: 50px" class="alert alert-danger" role="alert">
                <strong>Oops! :(</strong><br />
                An error ocured while trying to execute your query... Check if you gave the system the correct parameters!<br />
                If you are having some trouble using our website, please see the <strong>About</strong> page! There is some useful information that might help you out.
            </div>


        </div>

    </div>

    <div class="col-lg-2 col-md-2 d-none d-md-block right-block">
        <img src="../static/logo.png" width="100%" alt="HempLogo.png" style="margin-top: 20%;"><br /><br />
        <a href="https://github.com/kostyantynHrytsyuk/hemp-heaven" class="side-link">Check out Hemp Haven on GitHub</a>
    </div>
</div>

{% endblock content %}
